ion-content {
    height: 100%;
}
ion-title {
    text-align: center;
    font-size: 2em;
}

ion-img {
    height: 100%;
    margin-bottom: 6em;
}

ion-col {
    display: flex;
    justify-content: center;
}