<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-title color="dark">Image Selector</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col size-xl="4" size-lg="5" size-md="12" size="12" *ngFor="let currentImage of this.currentUser.frameImages">
        <ion-img (click)="this.selectImage(currentImage)" [src]="currentImage.url" height=400px [alt]="currentImage.title"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-lg="6" size-md="12" size="12" *ngFor="let currentImage of this.currentUser.frameImages">
        <ion-card (click)="this.selectImage(currentImage)" button=true>
          {{ currentImage.title }}
          <ion-img [src]=currentImage.url></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<router-outlet></router-outlet>
