<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="image-manager">
      <ion-icon name="images"></ion-icon>
      <ion-label>Image Manager</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings-manager">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings Manager</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-manager">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account Manager</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>