<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-title color="dark">Image Manager</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- size="4" size-xl="5" size-md="6" -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="4" size-lg="6" size-md="12" size="12" *ngFor="let img of this.currentUser.frameImages">
        <ion-card>
          {{ img.title }}
          <!-- <ion-img src=img.url></ion-img> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
